// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// ================================================
// 中文翻譯
// Quasar SCSS（與 Sass）變數
// --------------------------------------------------
// 若要自訂此應用程式的外觀與風格，可以覆寫
// Quasar 原始 Sass/SCSS 檔案中的變數。

// 請查看文件以取得 Quasar 變數的完整清單

// 您在此宣告的自訂變數，以及 Quasar 本身的變數
// 都能在您的 .vue/.scss/.sass 檔案中直接使用

// 強烈建議修改預設顏色
// 以符合您的應用程式品牌。
// 提示：請使用 Quasar 文件網站上的「Theme Builder」。

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
